<!DOCTYPE html>
<html class="loading <%= use.theme == 'sun' ? 'dark-layout' : '' %>" lang="en" data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
  <title><%= process.env.WEBSITENAME %> - Profilecompany.index</title>
  <%- include('../../Layout/tagHead') %>

  <script src="/app-assets/vendors/js/forms/cleave/cleave.min.js"></script>
  <script src="/app-assets/vendors/js/forms/cleave/addons/cleave-phone.th.js"></script>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu navbar-floating footer-static" data-open="hover" data-menu="horizontal-menu" data-col>

  <!-- BEGIN: Header-->


  <nav class="header-navbar navbar-expand-lg navbar navbar-fixed align-items-center navbar-shadow navbar-brand-center" data-nav="brand-center">
    <%- include('../../Layout/appheader', { Menuname: "_profile" }) %>
  </nav>
  <!-- END: Header-->

  <!-- BEGIN: Main Menu-->
  <%- include('../../Layout/appmenu', { Menuname: "_profile" }) %>
  <!-- END: Main Menu-->

  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">

      <%- include('../../Layout/appbreadcrumb', { Menuname: "_profile" }) %>


      <div class="content-body">
        <!-- Striped rows start -->
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header border-bottom">
                <h4 class="card-title" data-language="_profileinfo">
                  <!-- ข้อมูลโปรไฟล์ -->
                </h4>
              </div>

              <form class="validate-form" id="profilecompanycreateForm">
                <div class="card-body pt-1">

                  <% if(messages.success){ %>
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">
                      <i data-feather="check-circle" class="me-50"></i>
                      <span data-language="_success_title">
                        <!-- _error_title -->
                      </span>
                    </h4>
                    <div class="alert-body">
                      <ul class="ps-1 ms-25">
                        <li data-language="<%= messages.success %>"></li>
                      </ul>
                    </div>
                  </div>
                  <% } %>

                  <% if(messages.error){ %>

                  <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">
                      <!-- <i data-feather="x-circle" class="me-50"></i> -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle me-50">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="15" y1="9" x2="9" y2="15"></line>
                        <line x1="9" y1="9" x2="15" y2="15"></line>
                      </svg>
                      <span data-language="_error_title">
                        <!-- _error_title -->
                      </span>
                    </h4>
                    <div class="alert-body">
                      <ul class="ps-1 ms-25">
                        <% messages.error.forEach(message => { %>
                        <li data-language="<%= message %>"></li>
                        <% }) %>
                      </ul>
                    </div>
                  </div>
                  <% } %>

                  <input type="hidden" id="_csrfToken" value="<%- csrfToken %>">
                  <input type="hidden" id="_companyId" value="<%= encryptText(company?.T_Company?.Company_id?.toString()) %>">
                  <input type="hidden" id="_userId" value="<%= encryptText(company?.User_id?.toString()) %>">

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="account-upload" data-language="_companylogo_inreport">
                        <!-- โลโก้บริษัทในรายงาน -->
                      </label>
                      <!-- header section -->
                      <div class="d-flex mt-1">
                        <a href="#" class="me-25">
                          <img src="<%= company?.T_Company?.profile %>" onerror="this.src='/app-assets/images/portrait/small/avatar.png';" id="account-upload-img" class="uploadedAvatar mt-25 round" alt="Logo Company" height="40" width="40" />
                        </a>
                        <!-- upload and reset button -->
                        <div class="d-flex align-items-end mt-75 ms-1">
                          <div>
                            <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75" data-language="_upload">
                              <!-- Upload -->
                            </label>
                            <input type="file" name="account-upload" id="account-upload" hidden accept=".jpg, .jpeg, .png" />
                            <button type="button" id="account-reset" class="btn btn-sm btn-outline-secondary mb-75" data-language="_reset">
                              <!-- Reset -->
                            </button>
                            <br />
                            <label class="mb-0" data-language="_allowed_file_types">
                              <!-- Allowed file types -->
                            </label>
                            <label>: jpg, jpeg, png</label>
                          </div>
                        </div>
                        <!--/ upload and reset button -->
                      </div>
                      <!--/ header section -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label required-field text-warning" for="new_companyname" data-language="_companyshortname">
                        <!-- ชื่อย่อบริษัท (Navbar) -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.name %>" class="form-control" id="new_companyname" name="new_companyname" data-language-placeholder="_enter_companyshortname" required />
                      </div>
                    </div>
                  </div>

                  <div class="divider divider-start">
                    <div class="divider-text">
                      <h4 data-language="_admin_information">
                        <!-- ข้อมูลแอดมิน -->
                      </h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label required-field text-warning" for="new_mail" data-language="_mail">
                        <!-- อีเมล์ -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.mail %>" class="form-control" id="new_mail" name="new_mail" data-language-placeholder="_enter_mail" required />
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="new_phone" data-language="_adminphone">
                        <!-- เบอร์โทรศัพท์ (แอดมิน) -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.phone %>" class="form-control account-number-mask" id="new_phone" name="new_phone" data-language-placeholder="_enter_phone" />
                      </div>
                    </div>
                  </div>

                  <div class="divider divider-start">
                    <div class="divider-text">
                      <h4 data-language="_information_inreport">ข้อมูลในรายงาน</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="report-upload" data-language="_companylogo_inreport">
                        <!-- โลโก้บริษัทในรายงาน -->
                      </label>
                      <!-- header section -->
                      <div class="d-flex mt-1">
                        <a href="#" class="me-25">
                          <img src="<%= company?.T_Company?.logoreport %>" onerror="this.src='/app-assets/images/portrait/small/CompanyLogo_785x200.png';" id="report-upload-img" class="uploadedReport mt-1" alt="Logo Report" height="35" width="120" />
                        </a>
                        <!-- upload and reset button -->
                        <div class="d-flex align-items-end mt-75 ms-1">
                          <div>
                            <label for="report-upload" class="btn btn-sm btn-primary mb-75 me-75" data-language="_upload">
                              <!-- Upload -->
                            </label>
                            <input type="file" name="report-upload" id="report-upload" hidden accept=".jpg, .jpeg, .png" />
                            <button type="button" id="report-reset" class="btn btn-sm btn-outline-secondary mb-75" data-language="_reset">
                              <!-- Reset -->
                            </button>
                            <br />
                            <label class="mb-0" data-language="_allowed_file_types">
                              <!-- Allowed file types -->
                            </label>
                            <label>: jpg, jpeg, png</label>
                          </div>
                        </div>
                        <!--/ upload and reset button -->
                      </div>
                      <!--/ header section -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label required-field text-warning" for="new_companynamethai" data-language="_companynamethai">
                        <!-- ชื่อเต็มบริษัท (ภาษาไทย) -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.nameTh %>" class="form-control" id="new_companynamethai" name="new_companynamethai" data-language-placeholder="_enter_companynamethai" required />
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label required-field text-warning" for="new_companyaddressthai" data-language="_companyaddressthai">
                        <!-- ชื่อเต็มบริษัท (ภาษาไทย) -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.addressTh %>" class="form-control" id="new_companyaddressthai" name="new_companyaddressthai" data-language-placeholder="_enter_companyaddressthai" required />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="new_companynameenglish" data-language="_companynameenglish">
                        <!-- ชื่อเต็มบริษัท (ภาษาอังกฤษ) -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.nameEn %>" class="form-control" id="new_companynameenglish" name="new_companynameenglish" data-language-placeholder="_enter_companynameenglish" />
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="new_companyaddressenglish" data-language="_companyaddressenglish">
                        <!-- ที่ตั้งบริษัท (ภาษาอังกฤษ) -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.addressEn %>" class="form-control" id="new_companyaddressenglish" name="new_companyaddressenglish" data-language-placeholder="_enter_companyaddressenglish" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="new_companytaxid" data-language="_companytaxid">
                        <!-- เลขประจำตัวผู้เสียภาษี -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.taxid %>" class="form-control" id="new_companytaxid" name="new_companytaxid" data-language-placeholder="_enter_companytaxid" />
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="new_companynamesite" data-language="_companynamesite">
                        <!-- เว็บไซต์บริษัท -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.website %>" class="form-control" id="new_companynamesite" name="new_companynamesite" data-language-placeholder="_enter_companynamesite" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="new_companyphone" data-language="_companyphone">
                        <!-- เบอร์โทรศัพท์ (บริษัท) -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.phone %>" class="form-control account-number-mask" id="new_companyphone" name="new_companyphone" data-language-placeholder="_enter_phone" />
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="new_companyfax" data-language="_companyfax">
                        <!-- หมายเลขแฟกซ์ -->
                      </label>
                      <div class="input-group input-group-merge">
                        <input type="text" value="<%= company?.T_Company?.fax %>" class="form-control account-number-mask" id="new_companyfax" name="new_companyfax" data-language-placeholder="_enter_companyfax" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div id="errorTitle" class="col-12 col-sm-12 my-1" style="display: none;">
                      <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle me-50">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="15" y1="9" x2="9" y2="15"></line>
                            <line x1="9" y1="9" x2="15" y2="15"></line>
                          </svg>
                          <%- translat['_error_title'] %>
                        </h4>
                        <div class="alert-body" id="errorMessageContainer">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="submit" id="btnDisabled" class="btn btn-primary me-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save">
                      <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                      <polyline points="17 21 17 13 7 13 7 21"></polyline>
                      <polyline points="7 3 7 8 15 8"></polyline>
                    </svg>
                    <span data-language="_save_changes"></span>
                    <!-- Save changes -->
                  </button>
                  <button type="reset" class="btn btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw">
                      <polyline points="1 4 1 10 7 10"></polyline>
                      <path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path>
                    </svg>
                    <span data-language="_discard"></span>
                    <!-- Discard -->
                  </button>
                </div>
              </form>

            </div>

          </div>
        </div>
        <!-- Striped rows end -->
      </div>


    </div>
  </div>

  <!-- END: Content-->
  <!-- <div class="sidenav-overlay"></div> -->
  <!-- <div class="drag-target"></div> -->
  <!-- BEGIN: Footer-->
  <%- include('../../Layout/appfooter') %>

  <%- include('../../Layout/scriptFooter') %>

  <!-- BEGIN: Page JS-->
  <script src="/app-scriptPage/profilecompany/page-user-profilecompany.index.js"></script>
  <script src="/app-validateForm/profilecompany/page-user-profilecompany.index.js"></script>
  <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>