<!DOCTYPE html>
<html class="loading <%= use.theme == 'sun' ? 'dark-layout' : '' %>" lang="en" data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
  <title><%= process.env.WEBSITENAME %> - Security</title>
  <%- include('../../Layout/tagHead') %>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu navbar-floating footer-static" data-open="hover" data-menu="horizontal-menu" data-col>

  <!-- BEGIN: Header-->


  <nav class="header-navbar navbar-expand-lg navbar navbar-fixed align-items-center navbar-shadow navbar-brand-center" data-nav="brand-center">
    <%- include('../../Layout/appheader', { Menuname: "_security" }) %>
  </nav>
  <!-- END: Header-->

  <!-- BEGIN: Main Menu-->
  <%- include('../../Layout/appmenu', { Menuname: "_security" }) %>
  <!-- END: Main Menu-->

  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">

      <%- include('../../Layout/appbreadcrumb', { Menuname: "_security" }) %>

      <div class="content-body">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header border-bottom">
                <h4 data-language="_change_password" class="card-title">
                  <!-- เปลี่ยนรหัสผ่าน -->
                </h4>
              </div>

              <!-- form -->
              <form class="validate-form" action="/user/security" method="post">
                <div class="card-body pt-1">

                  <% if(messages.success){ %>
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">
                      <!-- <i data-feather="check-circle" class="me-50"></i> -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle me-50">
                        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                        <polyline points="22 4 12 14.01 9 11.01"></polyline>
                      </svg>
                      <span data-language="_success_title">
                        <!-- _error_title -->
                      </span>
                    </h4>
                    <div class="alert-body">
                      <ul class="ps-1 ms-25">
                        <li data-language="<%= messages.success %>"></li>
                      </ul>
                    </div>
                  </div>
                  <% } %>

                  <% if(messages.error){ %>

                  <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">
                      <!-- <i data-feather="x-circle" class="me-50"></i> -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle me-50">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="15" y1="9" x2="9" y2="15"></line>
                        <line x1="9" y1="9" x2="15" y2="15"></line>
                      </svg>
                      <span data-language="_error_title">
                        <!-- _error_title -->
                      </span>
                    </h4>
                    <div class="alert-body">
                      <ul class="ps-1 ms-25">
                        <% messages.error.forEach(message => { %>
                        <li data-language="<%= message %>"></li>
                        <% }) %>
                      </ul>
                    </div>
                  </div>
                  <% } %>

                  <input type="hidden" class="form-control" name="_csrfToken" value="<%- csrfToken %>">
                  <input hidden type="text" class="form-control" id="username" name="username" autocomplete="username" required>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="account-old-password" data-language="_current_password">
                        <!-- Current password -->
                      </label>
                      <div class="input-group form-password-toggle input-group-merge">
                        <input type="password" class="form-control" id="password" name="password" autocomplete="current-password" data-language-placeholder="_enter_current_password" data-msg="Please enter your current password" required />
                        <div class="input-group-text cursor-pointer">
                          <i data-feather="eye"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="account-new-password" data-language="_new_password">
                        <!-- New Password -->
                      </label>
                      <div class="input-group form-password-toggle input-group-merge">
                        <input type="password" class="form-control" id="new_password" name="new_password" autocomplete="new-password" data-language-placeholder="_enter_new_password" data-msg="Please enter your new password" required />
                        <div class="input-group-text cursor-pointer">
                          <i data-feather="eye"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label" for="account-retype-new-password" data-language="_retype_new_password">
                        <!-- Retype New Password -->
                      </label>
                      <div class="input-group form-password-toggle input-group-merge">
                        <!-- placeholder="Confirm your new password" -->
                        <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" autocomplete="new-password" data-language-placeholder="_confirm_new_password" data-msg="Please enter your confirm new password" required />
                        <div class="input-group-text cursor-pointer"><i data-feather="eye"></i></div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-12">
                      <p class="fw-bolder">ข้อกำหนดรหัสผ่าน:</p>
                      <ul class="ps-1 ms-25">
                        <li class="mb-50">ความยาวขั้นต่ำ 8 ตัวอักษร
                          ยิ่งมากยิ่งดี</li>
                        <li class="mb-50">
                          อย่างน้อยหนึ่งอักขระตัวพิมพ์เล็ก</li>
                        <li>ตัวเลข สัญลักษณ์
                          หรืออักขระช่องว่างอย่างน้อยหนึ่งตัว</li>
                      </ul>
                    </div> -->

                  <div class="row">
                    <% if (use.changepassword == true) { %>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-1">
                      <label class="form-label text-warning" for="account-new-password" data-language="_twofactor_form_app">
                        <!-- รหัส 6 หลักที่ได้จากแอป 2FA Authenticator -->
                      </label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="confirm_twofactor" name="confirm_twofactor" data-language-placeholder="_confirm_twofactor" />
                      </div>
                    </div>
                    <% } %>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-12 my-1">
                      <p class="fw-bolder">
                        <span data-language="_password_requirements"></span>
                        <!-- ข้อกำหนดรหัสผ่าน -->:
                      </p>
                      <ul class="ps-1 ms-25">
                        <li class="mb-50" data-language="_password_min_long">
                          <!-- Enter at least 10 characters. -->
                        </li>
                        <li class="mb-50" data-language="_password_lowercase">
                          <!-- Must contain at least one lowercase letter (a-z). -->
                        </li>
                        <li class="mb-50" data-language="_password_uppercase">
                          <!-- Must contain at least one uppercase letter (A-Z). -->
                        </li>
                        <li data-language="_password_character">
                          <!-- Must contain at least 1 symbols or spaces. -->
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="submit" id="btnDisabled" class="btn btn-primary me-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save">
                      <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                      <polyline points="17 21 17 13 7 13 7 21"></polyline>
                      <polyline points="7 3 7 8 15 8"></polyline>
                    </svg>
                    <span data-language="_save_changes"></span>
                    <!-- Save changes -->
                  </button>
                  <button type="reset" class="btn btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw">
                      <polyline points="1 4 1 10 7 10"></polyline>
                      <path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path>
                    </svg>
                    <span data-language="_discard"></span>
                    <!-- Discard -->
                  </button>
                </div>

              </form>
            </div>

            <% if (use?.permission?.[controllerName]?.delete) { %>
            <!-- recent device -->
            <div class="card">
              <div class="card-header border-bottom">
                <h4 class="card-title" data-language="_logs_signin">
                  <!-- ตำแหน่งที่คุณเข้าสู่ระบบ -->
                </h4>
              </div>
              <div class="card-body pt-1">
                <div class="table-responsive">
                  <table id="userlogsTable" class="table table-striped table-bordered text-nowrap">
                    <thead>
                      <tr>
                        <th style="width: 6%; text-align: center;" class="no-search">#</th>
                        <th hidden>ID</th>
                        <th class="text-start">BROWSER</th>
                        <th>DEVICE</th>
                        <th>IP ADDRESS</th>
                        <th>RECENT ACTIVITY</th>
                        <th style="width: 15%; text-align: center;">ACTIONS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% signinlogs.forEach((log, signinlogsIndex) => { %>
                      <tr>
                        <td style="text-align: center;"><%= signinlogsIndex+1 %></td>
                        <td hidden><%= log.Signinlog_id %></td>
                        <td class="text-start">
                          <div class="avatar me-25">
                            <% if (log.browser.includes('chrome')) { %>
                            <img src="../../../app-assets/images/icons/google-chrome.png" alt="avatar" width="20" height="20" />
                            <% } else if (log.browser.includes('firefox')) { %>
                            <img src="../../../app-assets/images/icons/mozila-firefox.png" alt="avatar" width="20" height="20" />
                            <% } else if (log.browser.includes('edge')) { %>
                            <img src="../../../app-assets/images/icons/microsoft-edge.png" alt="avatar" width="20" height="20" />
                            <% } else if (log.browser.includes('safari')) { %>
                            <img src="../../../app-assets/images/icons/apple-safari.png" alt="avatar" width="20" height="20" />
                            <% } else if (log.browser.includes('samsung')) { %>
                            <img src="../../../app-assets/images/icons/samsung_Internet.png" alt="avatar" width="20" height="20" />
                            <% } else if (log.browser.includes('silk')) { %>
                            <img src="../../../app-assets/images/icons/amazon_silk.png" alt="avatar" width="20" height="20" />
                            <% } else if (log.browser.includes('opera')) { %>
                            <img src="../../../app-assets/images/icons/opera.png" alt="avatar" width="20" height="20" />
                            <% } else { %>
                            <img src="../../../app-assets/images/icons/internet.png" alt="avatar" width="20" height="20" />
                            <% } %>
                          </div>
                          <span class="fw-bolder">
                            <%= log.browser?.charAt(0).toUpperCase() + log.browser?.slice(1) %> on <%= log.platform.charAt(0).toUpperCase() + log.platform.slice(1) %>

                            <% if (log.encryptedSession === sessionOnline) { %>
                            <span style="color: green;">
                              [<span data-language="_signin_current">
                                <!-- กำลังใช้งาน -->
                              </span>]
                            </span>
                            <% } %>
                          </span>
                        </td>
                        <td><%= log.device %></td>
                        <td><%= log.ipcurrent?.replace('::ffff:', '') %></td>
                        <td><%= formatDateTimeThai(log.created_at, true) %></td>
                        <td style="text-align: center;">

                          <button type="button" data-value="<%= log.encryptedSession %>" class="btn btn-outline-danger waves-effect btn-sm deleteSessionBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 font-small-4 me-50">
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line>
                              <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                            <span data-language="_logout">
                              <!-- ออกจากระบบ -->
                            </span>
                          </button>

                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- / recent device -->
            <% } %>

            <!--/ security -->
          </div>
        </div>


      </div>

    </div>
  </div>

  <div id="sweetalertText" style="display: none;">
    <span data-language="_confirm_title">
      <!-- โปรดยืนยัน -->
    </span>
    <span data-language="_delete_session">
      <!-- คุณต้องการลบเซสชันนี้หรือไม่ -->
    </span>
    <span data-language="_discard">
      <!-- ยกเลิก -->
    </span>
    <span data-language="_confirm_delete_sure">
      <!-- ใช่, ฉันต้องการลบ -->
    </span>
  </div>

  <span style="display: none;" data-sessionOnline="<%- sessionOnline %>"></span>

  <!-- END: Content-->
  <!-- <div class="sidenav-overlay"></div> -->
  <!-- <div class="drag-target"></div> -->
  <!-- BEGIN: Footer-->
  <%- include('../../Layout/appfooter') %>

  <%- include('../../Layout/scriptFooter') %>

  <!-- BEGIN: Page JS-->
  <script src="../app-scriptPage/security/page-user-security.js"></script>
  <script src="../app-validateForm/security/page-user-security.js"></script>
  <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>